body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/*The Top Box styling */

.Header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 10px 60px 10px 60px;
}

.TB {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: None;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.HeaderBody {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 25px;
}

.Content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.CB {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QuoteBG {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OFTC {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FTC {
    background-color: #3882f6;
}

.Header-Image {
    width: 250px;
    height: 100px;
    flex: 1 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    padding: 50px;
}

.HContent-Head {
    font-size: 20px;
    font-weight: 900;
}

.HContent-Body {
    font-size: 15px;
}

.HeadC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}