body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/*The Top Box styling */

.Header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 20px 300px 10px 300px;
}

.TB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: None;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.HeaderBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0 50px 0;
    gap: 15px;
}

.Header-Image {
    /*width: 350px;*/
    height: 100px;
    width: 40%;
    flex: 0 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.HContent-Head {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    word-wrap: break-word;
}

.HContent-Body {
    font-size: 15px;
}

.HeadC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 40%;
    width: 40%;
}

.HeadLogo {
    font-size: 24px;
    color: #f9faf8
}

.HL {
    font-size: 18px;
    color: #E5E7EB;
}


/*2nd Box styling*/

.Content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px 40px 20px;
}

.CBMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CB {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
    padding: 0 400px 0 400px;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    text-align: center;
    margin:auto;
}

.ImgPrp {
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    height: 125px;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.InfoHead {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937
}

.ImgDesc {
    font-size: 12px;
}


/*Quote stuff*/

.QuoteBG {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 400px 5% 400px;
}

.Quote1 {
    width: 100%;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    flex: 1 0 auto;
}

.Quote2 {
    width: 100%;
    justify-content: right;
    font-weight: 1000;
    text-align: right;
}


/*Content 3*/

.OFTC {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.FTC {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    padding: 40px 80px 40px 80px;
    border-radius: 10px;
    gap: 20px;
}

.FTButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.BtnPrp {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}


/*Footer*/

.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 24px;
    color: #f9faf8;
}

.FTHead {
    font-size: 18px;
    font-weight: 700;
}